@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.app {
  /* Add your cover background image */
  background-image: url('/assets/img/cover_background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  /* Set the min-height of .app to be 100% so it takes up the entire height of its parent */
  min-height: 100%;
}

.body {
  /* Set the height of the body to be the height of the viewport */
  height: 100vh;
  /* Add your page background image */
  background-image: url('/assets/img/page_background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
